<a href="https://colab.research.google.com/github/jammy-bot/keras-to-pytorch/blob/features/keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import preprocessing

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation

from urllib.request import urlretrieve

In [ ]:
# reading the dataset
iris = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
urlretrieve(iris)
df = pd.read_csv(iris, sep=',')

# adding column names to the dataframe
df.columns = ["sepal_length", "sepal_width", 
              "petal_length", "petal_width", 
              "species"]

In [ ]:
# viewing a random sample of rows from the dataframe
df.sample(5)

     sepal_length  sepal_width  petal_length  petal_width          species
120           5.6          2.8           4.9          2.0   Iris-virginica
12            4.3          3.0           1.1          0.1      Iris-setosa
84            6.0          3.4           4.5          1.6  Iris-versicolor
86            6.3          2.3           4.4          1.3  Iris-versicolor
21            4.6          3.6           1.0          0.2      Iris-setosa

In [ ]:
# converting to numpy
x = df[["sepal_length", "sepal_width", 
        "petal_length", "petal_width"]].values

dummies = pd.get_dummies(df["species"])
species = dummies.columns
y = dummies.values

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  149 non-null    float64
 1   sepal_width   149 non-null    float64
 2   petal_length  149 non-null    float64
 3   petal_width   149 non-null    float64
 4   species       149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [ ]:
df['species'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        49
Name: species, dtype: int64

In [ ]:
# splitting into validation and training sets
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.25, random_state = 42)